<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
    <script>
        function changeAction() {
            // Get the form element by its ID
            var form = document.getElementById("login-form");
            
            // Modify the form's action attribute with the desired address
            //http://other_address:other_port
            //http://127.0.0.1:3000 local host changed
            form.action = "http://127.0.0.1:5000/";  // Change to your desired address and port
        }
    </script>
</head>
<body>
    <form id="login-form" method="POST" action="/login_button">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <button type="submit" name="click" value="btn_click" onclick="changeAction()">Submit</button>
    </form>
</body>
</html>
